<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hompage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="navbar">
      <div class="navbar-container">
        <img src="images/logo.png" alt="" class="navbar-logo">
        <div class="navbar-right hidden-xs">
          <a href="">Buoys</a>
          <a href="">Profile</a>
          <a href="">Logout</a>
          <!-- <div class="dropdown">s
            <img src="http://placehold.it/50x50" alt="" class="avatar dropdown-toggle" id="profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <ul class="dropdown-menu" aria-labelledby="profile-dropdown">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
            </ul>
          </div> -->
        </div>
        <div class="dropdown visible-xs">
          <i class="fa fa-bars dropdown-toggle" id="menu-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="menu-dropdown">
            <li><a href="#">Buoy</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
