<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oh Buoy!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <div class="wrapper">

      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
        <div class="banner-content">
          <h1>Oh Buoy!</h1>
          <p>Find your buoys with us</p>
          <a class="btn btn-primary btn-lg">Buoy me!</a>
        </div>
      </div>

      <div class="container-page">
        <div class="container container-valueprop">

          <div class="row row-title-valueprop">
            <div class="col-xs-12">
              <h1>Who are we anyway?</h1>
            </div>
          </div>

          <div class="row row-valueprop">
            <div class="col-xs-12 col-md-4">
              <div class="valueprop">
                <h1> Find the best inflatables</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing</p>
              </div>
            </div>

            <div class="col-xs-12 col-md-4">
              <div class="valueprop">
                <h1> All around the world </h1>
                <p>

                </p>
              </div>
            </div>

            <div class="col-xs-12 col-md-4">
              <div class="valueprop">
                <h1> No hassle, you are insured </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing</p>
              </div>
            </div>

          </div>
        </div>

        <div class="container container-testimonials">
          <div class="row row-title-testimonials">
            <h1>What they think about our buoys</h1>
          </div>
          <div class="row row-testimonials">
            <div class="col-xs-12 col-md-6">
              <div class="testimonial">
                <h1>Scarlett</h1>
                <h2>has rented a wild colorful unicorn</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="testimonial">
                <h1>Kaj</h1>
                <h2>has rented a mad bike with two seats</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- <p><%= link_to 'Login', new_user_session_path %></p>
    <p><%= link_to 'Sign Up', new_user_registration_path %></p> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
