<div class="wrapper">

    <div class="container-search">
      <div class="searchbox-box">
             <%= form_tag buoys_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search for buoys"
              %>
            <% end %>
      </div>

</div>

  <div class="container-card">
    <% if @error_message == "No search result found" %>
      <p> <%= @error_message %></p>
    <% end %>
    <div class="row card-title-row">
      <h2> Check it out 👇</h2>
    </div>


    <div class="row card-row">
      <% @buoys.each do |buoy| %>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <%= render 'components/card', buoy: buoy %>
        </div>
      <% end %>
    </div>

  </div>
</div>




